extends templates/layout

block content
  .container
    .row
      .col-md-2
      .col-md-8
        h1.album-main-header #{album.title}
        .reviews-header
          h2 Reviews
          a.btn.btn-info(href=`/albums/${album.id}/reviews/new` role='button') Add Review
        if reviews.length !== 0
          .user-reviews
            each review in reviews
              - var date = moment(review.review_date).format('MMMM Do YYYY')
              .review-card(id=`${review.id}`)
                .review-details
                  h4.review-header
                    a(href=`/albums/${album.id}`) #{album.title}
                    span #{date}
                  p #{review.review}
                  p.author-name by&nbsp&nbsp #{review.reviewer}
                  br
                if review.reviewer_id === user.id
                  .trash-can
                    i.fa.fa-trash(aria-hidden='true')
        else
          .no-reviews
            p No reviews found :(

      .col-md-2