extends layout

block content
  .jumbotron
    .container-title
      h1.display-3 Vinyl
      p.lead
        | A place for people the Yelp about albums.
  .container.album-display
    .row
      .col-xs-4
          h1 Records
          .album-list
            each album in albums
              h3.album-title
                a(href=`/albums/${album.id}`) #{album.title}
              p.artist-name #{album.artist}
      .col-xs-8
        .album-reviews
          h1 Recent Reviews
          .user-reviews
            each review in reviews
              - var date = moment(review.review_date).format('MMMM Do YYYY')
              h4.review-header
                a.review-title(href=`/albums/${review.album_id}`) #{review.album_title}
                span.date #{date}
              p #{review.review}
              p.author-name by&nbsp&nbsp #{review.reviewer}
              br


